<!DOCTYPE html>

<html>

<head>
    <title>About Me</title>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Victor Mendes. It uses data from WeatherStack.</p>
        <img class="portrait" src="/img/pic.jpg" alt="Random woman">
    </div>
    {{>footer}}
</body>

</html>